{% extends 'gnosis/base.html' %}
{% block content %}
{% load tags %}

{% block title %}{{block.super}}{% endblock %}
<div>
  <h2 class="display-6">Favourite Questions</h2>
  <hr class="my-4">
  {% for q in questions %}
  <div class="p-4 border rounded-4 bg-body-tertiary shadow" onclick="location.href='{% url 'gnosis:ques_detail' q.id %}'">
    <p class="mb-0"><strong>Author: </strong><a href="{% url 'gnosis:profilepage' q.author %}">@{{q.author}}</a>
      <span class="float-end">
        {% if q.updated|date:"Y-m-d H:i:s" != q.created|date:"Y-m-d H:i:s" %}
        <span class="badge rounded-pill text-bg-secondary">Edited: {{ q.updated|smol_timesince }} ago</span>
        {% endif %}
        <span class="badge rounded-pill text-bg-secondary">Posted: {{ q.created|smol_timesince }} ago</span>
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-primary">{{q.department}}</span>
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-secondary">{{q.language}}</span>
      </span>
    </p>
    <h2><p>{{q.title}}</p></h2>
    {% if q.body %}
    <p>{{q.body}}</p>
    {% endif %}
  </div>
  <br>
    {% endfor %}
</div>
<br>
<br>
<blockquote class="blockquote text-center">
  <footer class="blockquote-footer"><strong>You've reached the end of the list. There's nothing more to see here <i class="text-warning fas fa-face-laugh-beam"></i></strong></footer>
</blockquote>
{% endblock %}
