{% extends 'gnosis/base.html' %}
{% load static %}
{% block title %}Edit Profile | {{ block.super }}{% endblock %}
{% block content %}
<div class="row border border-3 border-primary rounded-4">

  <div class="p-0 position-absolute">
    {% if request.user.is_authenticated %}
    {% if request.user == user %}
    <a class="btn btn-primary float-start" href="{% url 'gnosis:edit_profile' %}"> <i class="fas fa-user-pen"></i> Edit Profile</a>
    {% endif %}
    {% endif %}
  </div>

  <!-- PROFILE PIC -->
  <div class="col text-center my-auto">
    {% if user.profile.photo %}
    <img src="{{ user.profile.photo.url }}" class="mx-auto d-block rounded-circle" alt="avatar" width="150" height="150">
    {% else %}
    <img src="{% static 'default.png' %}" class="mx-auto d-block rounded-circle" alt="avatar" width="150" , height="150">
    {% endif %}
  </div>

  <!-- PROFILE DETAILS -->
  <div class="col my-auto">
    <div class="tab-content py-4">
      <div class="tab-pane active" id="profile">
        <h6>@{{user.username}}</h6>
        <h2 class="mb-3">{{user.first_name}} {{user.last_name}}</h2>
        <p><strong>Date Of Birth: </strong>{{user.profile.DOB}}</p>
        <p><strong>E-Mail: </strong>{{user.email}}</p>
      </div>
    </div>
  </div>

</div>

<div>
  <hr class="my-4">
  <h2 class="display-6 mb-0">Questions Asked</h2>
  <p>by @{{user.username}}</p>
  <hr class="my-4">

  <!-- QUESTION LIST -->
  {% for q in questions %}
  <div class="p-4 border rounded-4 bg-body-tertiary shadow" onclick="location.href='{% url 'gnosis:ques_detail' q.id %}'">
    <p class="mb-0"> <!-- <strong>Author: </strong><a href="{% url 'gnosis:profilepage' q.author %}">@{{q.author}}</a> -->
      <span class="float-end">
        <span class="badge rounded-pill text-bg-secondary">Created: {{q.created}}</span>
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-primary">{{q.department}}</span>
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-secondary">{{q.language}}</span>
      </span>
    </p>
    <h2><p>{{q.title}}</p></h2>
    <p>{{q.body}}</p>
  </div>
  <br>
  {% endfor %}

</div>

<br>
<br>

<blockquote class="blockquote text-center">
  <footer class="blockquote-footer"> You've scrolled to the end of the List!</footer>
</blockquote>
{% endblock %}
