{% extends 'gnosis/base.html' %}
{% load static %}
{% block content %}

{% block title %}{{block.super}}{% endblock %}

<head>
  <style>

    body{
      background-image: url("{% static 'images/ask_a_ques.jpg' %}");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

  </style>
</head>

<body>

<div class="form-container mt-5 p-5">
  <form class="d-flex justify-content-center" id="form" method="post">
    {% csrf_token %}
    <label for="input_text" class="visually-hidden">Question:</label>
    <input type="text" name="input_text" id="input_text" placeholder="Ask a question!" class="btn btn-outline-secondary">
    <input type="submit" value="Ask" class="btn btn-primary ms-2">
  </form>
</div>

<div>
  <h2 class="display-6 d-flex justify-content-center"><strong>Asked Questions :</strong></h2>
  <hr class="my-5 ">

  <!-- QUESTION LIST -->
  {% for q in ques %}
  <div class="p-4 border rounded-4 bg-body-tertiary shadow" onclick="location.href='{% url 'gnosis:ques_detail' q.id %}'">
    <h2><p>{{q.title}}</p></h2>
    <p><strong>Author: </strong><a href="{% url 'gnosis:profilepage' q.author %}">{{q.author}}</a>
      <span class="float-end">
        <span class="badge rounded-pill text-bg-secondary">Created: {{q.created}}</span>
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-primary">{{q.department}}</span>
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-secondary">{{q.language}}</span>
      </span>
    </p>
    {% if q.body %}
      <h4>Description:</h4><h6>{{q.body}}</h6>
    {% endif %}
  </div>
  <br>
  {% endfor %}

</div>
<br>
<br>
<blockquote class="blockquote text-center">
  <footer class="blockquote-footer"><strong>You've scrolled to the end of the List!</strong></footer>
</blockquote>
</body>
  {% endblock %}
