{% extends 'gnosis/base.html' %}
{% load static %}
{% block content %}

{% block title %}{{block.super}}{% endblock %}

<div>
  <div>
    <h2 class="text-capitalize"><p>Question: {{ input_text }}</p></h2>
  </div>
  <hr class="my-4">
</div>

<!-- MAIN COMMENT -->
<div class="d-flex p-4 border border-secondary rounded-4 shadow">
  <div class="me-4" alt="Comment Profile Picture">
    <img class="rounded-circle" style="background-color: inherit;" src="{% static 'comments.png' %}" height="64" width="64" alt="Generic placeholder image">
  </div>
  <div class="flex-fill" alt="Comment Text">
    <h5>
      <p><strong>@</strong>gnosis</a>
        <span class="float-end">now</span>
      </p>
    </h5>
    <p> {{ output_text | safe }} </p>
  </div>
</div>

{% endblock %}
