{% extends 'gnosis/base.html' %}
{% block content %}

  {% block title %}{{block.super}}{% endblock %}
<div>
  <h2 class="display-6">Asked Questions :</h2>
  <hr class="my-4">
    {% for q in ques %}
  <div>
    <h2><p><a style="color: black;" href="{% url 'gnosis:ques_detail' q.id %}">{{q.title}}</a></p></h2>
    <p><strong>Author: </strong><a href="{% url 'gnosis:profilepage' q.author %}">{{q.author}}</a>
      &nbsp
      <span class="float-end">
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-primary">{{q.department}}</span>
        <span style="text-transform: capitalize;" class="badge rounded-pill text-bg-secondary">{{q.status}}</span>
      </span>
    </p>
    <h4>Description:</h4><h6>{{q.body}}</h6>
  </div>
<br>
  <hr class="my-4">
    {% endfor %}
</div>
<br>
<br>
<blockquote class="blockquote text-center">
  <footer class="blockquote-footer"> You've scrolled to the end of the List!</footer>
</blockquote>
  {% endblock %}
