{% extends 'gnosis/base.html' %}
{% load static %}
{% block content %}
{% load tags %}

{% block title %}{{block.super}}{% endblock %}

<body>

  <!-- ==================== @COMMUNITY ASKED QUESTIONS ==================== -->
  <!-- <h2 class="display-6 d-flex justify-content-center"><strong>Asked Questions :</strong></h2> -->
  <div class="d-flex justify-content-between">
    <div>
      <h2 class="display-6 mb-0">Questions Asked</h2>
      <p>by Community</p>
    </div>
    <div class="text-end">
      <h2 class="display-6 mb-0">Stats</h2>
      <p>Questions:
        <span class="badge rounded-pill text-bg-info"> {{ques.count}}</span>
      </p>
    </div>
  </div>
  <hr class="my-4 ">


  <!-- ======================== @ASK GENERATIVE AI ======================== -->
  <div class="p-4 border border-2 rounded-4 bg-body-tertiary shadow">
    <form class="d-flex justify-content-center" id="form" method="post">
      {% csrf_token %}
      <label for="input_text" class="visually-hidden">Question:</label>
      <input type="text" name="input_text" id="input_text" placeholder="Search for a question here" class="col-form-label flex-fill">
      <!-- ASK BUTTON -->
      {% if request.user.is_authenticated %}
      <button id="submitBtn" type="submit" class="btn btn-primary ms-3">Search Question</button>
      {% else %}
      <a class="btn btn-secondary ms-3" href="{% url 'gnosis:user_login' %}">Search Question</a>
      {% endif %}
      <!-- GENERATING ANSWER BUTTON -->
      <button id="loadingBtn" class="btn btn-primary d-none ms-3" type="button" disabled>
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
        <span role="status">Generating Answer...</span>
      </button>
    </form>

    <!-- ====== @ADDED SCRIPT HERE TO PREVENT LOADING ON OTHER PAGES ====== -->
    <script>
    const form = document.getElementById('form');
    const submitBtn = document.getElementById('submitBtn');
    const loadingBtn = document.getElementById('loadingBtn');

    form.addEventListener('submit', function(event) {
      event.preventDefault();
      submitBtn.classList.add('d-none');
      loadingBtn.classList.remove('d-none');
      form.submit();
    });
    </script>

    <!-- ================== @TODO: MORE SEARCH CONTROLS ================== -->
    <hr class="my-4 ">
    <div class="d-flex">
      <button class="me-4 btn btn-outline-primary">
        <a class="nav-link" href="{% url 'gnosis:ask_question' %}"><i class="fas fa-edit"></i> Ask a Question</a>
      </button>
      <button class="me-4 btn btn-outline-primary">
        <a class="nav-link" href="{% url 'gnosis:show_fav_ques' %}"><i class="fas fa-star"></i> Favourites List</a>
      </button>
      <div id="uploaderMode">
        <button class="me-4 btn btn-outline-primary">
          <a class="nav-link" href="{% url 'gnosis:uploader_form' %}"><i class="fas fa-book"></i> Share your Knowledge</a>
        </button>
      </div>
    </div>

  </div>
  <br>


  <div>
    <!-- ========================= @QUESTION_LIST ========================= -->
    {% for q in ques %}
    <div class="p-4 border rounded-4 bg-body-tertiary shadow" onclick="location.href='{% url 'gnosis:ques_detail' q.id %}'">
      <p class="mb-0"><strong>Author: </strong><a href="{% url 'gnosis:profilepage' q.author %}">@{{q.author}}</a>
        <span class="float-end">
          {% if q.updated|date:"Y-m-d H:i:s" != q.created|date:"Y-m-d H:i:s" %}
          <span class="badge rounded-pill text-bg-secondary">Edited: {{ q.updated|smol_timesince }} ago</span>
          {% endif %}
          <span class="badge rounded-pill text-bg-secondary">Posted: {{ q.created|smol_timesince }} ago</span>
          <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-primary">{{q.department}}</span>
          <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-secondary">{{q.language}}</span>
        </span>
      </p>
      <h2><p>{{q.title}}</p></h2>
      {% if q.body %}
      <p>{{q.body}}</p>
      {% endif %}
    </div>
    <br>
      {% endfor %}

  </div>
  <br>
  <br>
  <blockquote class="blockquote text-center">
    <footer class="blockquote-footer"><strong>You've reached the end of the list. There's nothing more to see here <i class="text-warning fas fa-face-laugh-beam"></i></strong></footer>
  </blockquote>
</body>
{% endblock %}
