{% extends 'gnosis/base.html' %}
{% load static %}
{% load tags %}
{% block content %}

{% block title %}{{block.super}}{% endblock %}

<div>
  <div>
    <h2>Question: {{ input_text }}</h2>
  </div>
  <hr class="my-4">
</div>

<!-- MAIN COMMENT -->
<div class="d-flex p-4 border border-secondary rounded-4 shadow">
  <div class="me-4" alt="Comment Profile Picture">
    <img class="rounded-circle" style="background-color: inherit;" src="{% static 'gnosis.jpg' %}" height="64" width="64" alt="Generic placeholder image">
  </div>
  <div class="flex-fill" alt="Comment Text">
    <h5>
      <p><strong>@</strong>gnosis</a>
        <span class="float-end">now</span>
      </p>
    </h5>
    <p> {{ output_text | safe }} </p>
  </div>
</div>




<!-- @CORRECT QUESTION MEDIA QUEQY -->
{% if ques_correct %}
  {% if answers %}
    <h2 class="display-6 mt-4">Answer by community</h2>

    {% if ans_text %}
        <p>ID: {{ans_text.id}}</p>
        {{ ans_text.content_rendered | safe }}
    {% endif %}

    {% if ans_audio %}
    <p>URL: {{ans_audio.audio.url}}</p>
    <div class="mb-3">
      <audio class="rounded-4 shadow border bg-body-secondary" style="width:100%" controls>
        <source src="{{ ans_audio.audio.url }}" type="audio/mp3">
          Your browser does not support the audio element.
      </audio>
    </div>
    {% endif %}

    {% if ans_video %}
    <p>URL: {{ans_video.video.url}}</p>
    <div class="mb-3">
      <video class="rounded-4 shadow border bg-body-secondary" style="width:100%; max-height:650px;" controls>
        <source src="{{ ans_video.video.url }}" type="video/mp4">
          Your browser does not support the video tag.
      </video>
    </div>
    {% endif %}

  {% else %}
    <h2 class="display-6 mt-4">Answer Unavailable in this format</h2>
  {% endif %}
<!-- no correct question -->
{% else %}
  <h2 class="display-6 mt-4">Answer Unavailable</h2>
{% endif %}




  <!-- FUZZY QUERIED QUESTION LIST -->
<div>
  {% if ques %}

  <h2 class="display-6 mt-4">Related Questions</h2>
  <hr class="my-4">

  {% for q in ques %}
  <div class="p-4 border rounded-4 bg-body-tertiary shadow" onclick="location.href='{% url 'gnosis:ques_detail' q.id %}'">
    <p><strong>Author: </strong><a href="{% url 'gnosis:profilepage' q.author %}">{{q.author}}</a>
      <span class="float-end">
        <span class="badge rounded-pill text-bg-secondary">Created: {{q.created}}</span>
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-primary">{{q.department}}</span>
        <span style="text-transform: uppercase;" class="badge rounded-pill text-bg-secondary">{{q.language}}</span>
      </span>
    </p>
    <h2><p>{{q.title}}</p></h2>
    {% if q.body %}
      <h4>Description:</h4><h6>{{q.body}}</h6>
    {% endif %}
  </div>
  <br>
  {% endfor %}
  {% endif %}

</div>
<br>
<br>
<blockquote class="blockquote text-center">
  <footer class="blockquote-footer"><strong>You've scrolled to the end of the List!</strong></footer>
</blockquote>

{% endblock %}
