{% extends 'gnosis/base.html' %}
{% block content %}

  {% block title %}{{block.super}}{% endblock %}
<div class="p-5">
  {% if request.user.is_authenticated %}
  <h1 class="display-4">Welcome, {{user.first_name}} {{user.last_name}}</h1>
  {% else %}
  <h1 class="display-4">Welcome, Guest</h1>
  {% endif %}
  <hr>
  <p>Welcome to GNOSIS! Click the 'Home' button above or 'View Questions' button below to discover questions posted by other users and join the conversation.</p>
  <a href="{% url 'gnosis:ques_list' %}" class="btn btn-primary">View Questions</a>
</div>
  {% endblock %}
