{% extends 'gnosis/base.html' %}
{% block content %}

  {% block title %}{{block.super}}{% endblock %}

  <!-- @MAIN CONTENT -->
  <div class="container-fluid d-flex align-items-center" style="height:80vh;">

    <div class="col p-5">
      <h1 class="display-1 mb-0">GNŌSIS</h1>
      <h4 class="text-muted mb-4"><i>for sharing knowledge</i></h4>
      <p>GNOSIS - For sharing knowledge is an ambitious project designed to transform the way individuals engage with and acquire knowledge.</p>
      <div class="d-flex gap-3 justify-content-start mt-4">
        {% if request.user.is_authenticated %}
        <a href="{% url 'gnosis:ques_list' %}" class="btn btn-primary">View Questions</a>
        <a href="{% url 'gnosis:ask_question' %}" class="btn btn-outline-primary">Ask a Question</a>
        {% else %}
        <a href="{% url 'gnosis:user_login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'gnosis:register' %}" class="btn btn-outline-primary">Register</a>
        {% endif %}
      </div>
    </div>

    <div class="col p-5 text-center bg-body-secondary border rounded-4 h-50">
      <p class="text-muted">[ Insert a cool looking image here maybe? ]</p>
    </div>

  </div>

  <!-- @SEE MORE FEATURES -->
  <p class="text-center text-muted">Scroll down for discovering more features <i class="fas fa-arrow-down"></i></p>

  <!-- @FEATURES_SECTION -->
  <div class="container-fluid p-5">
    <hr>
    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>
  </div>

  {% endblock %}
