{% extends 'gnosis/base.html' %}
{% block content %}

  {% block title %}{{block.super}}{% endblock %}

  <!-- @MAIN CONTENT -->
  <div class="container-fluid d-flex align-items-center" style="height:80vh;">

    <div class="col p-5">
      <h1 class="display-1 mb-0">GNŌSIS</h1>
      <h4 class="text-muted mb-4"><i>for sharing knowledge</i></h4>
      <p>GNOSIS - For sharing knowledge is an ambitious project designed to transform the way individuals engage with and acquire knowledge.</p>
      <div class="d-flex gap-3 justify-content-start mt-4">
        {% if request.user.is_authenticated %}
        <a href="{% url 'gnosis:ques_list' %}" class="btn btn-primary">View Questions</a>
        <a href="{% url 'gnosis:ask_question' %}" class="btn btn-outline-primary">Ask a Question</a>
        {% else %}
        <a href="{% url 'gnosis:user_login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'gnosis:register' %}" class="btn btn-outline-primary">Sign Up</a>
        {% endif %}
      </div>
    </div>

    <div class="col p-5 text-center bg-body-secondary border rounded-4 h-50">
      <p class="text-muted">[ Insert a cool looking image here maybe? ]</p>
    </div>

  </div>

  <!-- @SEE MORE FEATURES -->
  <p class="text-center text-muted">Scroll down for discovering more features <i class="fas fa-arrow-down"></i></p>

  <!-- @FEATURES_SECTION -->
  <div class="container-fluid p-5">
    <hr>
    <div class="row g-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Feature Heading 1. <span class="text-body-secondary">Ease of navigation.</span></h2>
        <p style="text-align:justify;" class="lead">A Wayland compositor is a fully autonomous Display Server, like Xorg itself. It is not possible to mix’n’match Wayland compositors like you could on Xorg with window managers and compositors. It is also not entirely possible, nor recommended, to try and use all Xorg applications on Wayland.</p>
      </div>
      <div style="width:500px; height:400px;" class="col p-5 text-center bg-body-secondary border rounded-4">
        <p class="text-muted">[ Insert a cool looking image here maybe? ]</p>
      </div>
    </div>

    <hr>
    <div class="row g-5">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Feature Heading 2. <span class="text-body-secondary">The Flex 5.</span></h2>
        <p style="text-align:justify;" class="lead">The Lenovo IdeaPad Flex 5 14ARE05 is a convertible 2-in-1 laptop computer with a 14" screen, AMD Ryzen™ 3/5/7 4000 U-Series Processor, 4GB/8GB/16GB of memory, webcam, microphone, stereo speakers, headphone / microphone combo jack, 802.11ac wireless card with Bluetooth 5.0, 1 x USB-C 3.2 Gen 1 Type-C(supports charging), 2 x USB 3.2 Gen 1 Type-A, 1 x SD card reader, 1 x HDMI 1.4b, 1 x power connector, and a fingerprint reader.</p>
      </div>
      <div style="width:500px; height:400px;" class="col p-5 text-center bg-body-secondary border rounded-4">
        <p class="text-muted">[ Insert a cool looking image here maybe? ]</p>
      </div>
    </div>

    <hr>
    <div class="row g-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Feature Heading 3. <span class="text-body-secondary">Vice City.</span></h2>
        <p style="text-align:justify;" class="lead">Grand Theft Auto: Vice City is a 2002 action-adventure game developed by Rockstar North and published by Rockstar Games. It is the fourth main game in the Grand Theft Auto series, following 2001's Grand Theft Auto III, and the sixth entry overall. -Wikipedia</p>
      </div>
      <div style="width:500px; height:400px;" class="col p-5 text-center bg-body-secondary border rounded-4">
        <p class="text-muted">[ Insert a cool looking image here maybe? ]</p>
      </div>
    </div>
  </div>

  {% endblock %}
