{% extends 'gnosis/base.html' %}
{% load static %}
{% block content %}

  {% block title %}{{block.super}}{% endblock %}

  <!-- @MAIN CONTENT -->
  <div class="container-fluid d-flex align-items-center" style="height:80vh;">

    <div class="col p-5">
      <h1 class="display-1 mb-0">GNŌSIS</h1>
      <h4 class="text-muted mb-4"><i>for sharing knowledge</i></h4>
      <p>GNOSIS - For sharing knowledge is an ambitious project designed to transform the way individuals engage with and acquire knowledge.</p>
      <div class="d-flex gap-3 justify-content-start mt-4">
        {% if request.user.is_authenticated %}
        <a href="{% url 'gnosis:ques_list' %}" class="btn btn-primary">View Questions</a>
        <a href="{% url 'gnosis:ask_question' %}" class="btn btn-outline-primary">Ask a Question</a>
        {% else %}
        <a href="{% url 'gnosis:user_login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'gnosis:register' %}" class="btn btn-outline-primary">Sign Up</a>
        {% endif %}
      </div>
    </div>

    <div class="col p-5 text-center bg-body-secondary border rounded-4 h-50">
      <img src="{% static '/logo-light.png' %}" width="250">
    </div>

  </div>

  <!-- @SEE MORE FEATURES -->
  <p class="text-center text-muted">Scroll down for discovering more features <i class="fas fa-arrow-down"></i></p>

  <!-- @FEATURES_SECTION -->
  <div class="container-fluid p-5">

    <hr>
    <div class="row g-5">
      <div class="col">
        <h2 class="featurette-heading fw-normal lh-1">Viewer/Uploader Modes <span class="text-body-secondary">split selection.</span></h2>
        <p style="text-align:justify;" class="lead">The split selection screen allows users to seamlessly switch between Viewer and Uploader modes. In Viewer mode, users can browse and consume content, while in Uploader mode, they can contribute new content to the platform. This feature enhances user experience by providing quick and easy access to both modes, making it convenient to consume and contribute content.</p>
      </div>
      <img style="width:620px;" src="{% static 'sc_splitscr.jpg' %}"></img>
    </div>

    <hr>
    <div class="row g-5">
      <div class="col order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Generative AI Answers <span class="text-body-secondary">for searches.</span></h2>
        <p style="text-align:justify;" class="lead">Our Generative AI technology enables the platform to provide intelligent and context-aware answers to user queries. This feature goes beyond simple keyword matching, allowing the system to understand the intent behind the question and generate detailed and relevant answers. It enhances the user experience by providing accurate and informative responses tailored to individual queries.</p>
      </div>
      <img style="width:620px;" src="{% static 'sc_generate.jpg' %}"></img>
    </div>

    <hr>
    <div class="row g-5">
      <div class="col">
        <h2 class="featurette-heading fw-normal lh-1">More options <span class="text-body-secondary"> for Multimedia answers.</span></h2>
        <p style="text-align:justify;" class="lead">The platform supports a wide range of multimedia formats, including video, audio, images, and documents, to provide comprehensive answers. This feature enriches the user experience by offering multimedia content that complements text-based answers, making it easier for users to understand complex topics and concepts.</p>
      </div>
      <img style="width:620px;" src="{% static 'sc_moreopts.jpg' %}"></img>
    </div>

    <hr>
    <div class="row g-5">
      <div class="col order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Ask questions <span class="text-body-secondary"> to community.</span></h2>
        <p style="text-align:justify;" class="lead">Users can engage with the platform's community by asking questions and receiving answers from other members. This feature fosters knowledge sharing and collaboration, allowing users to tap into the collective expertise of the community. It encourages active participation and helps users gain insights and perspectives from diverse viewpoints.</p>
      </div>
      <img style="width:620px;" src="{% static 'sc_queslist.jpg' %}"></img>
    </div>

    <hr>
    <div class="row g-5">
      <div class="col">
        <h2 class="featurette-heading fw-normal lh-1">Give suggestions <span class="text-body-secondary">to answers.</span></h2>
        <p style="text-align:justify;" class="lead">Users can contribute to the platform by providing suggestions to existing answers. This feature allows users to offer feedback on the accuracy, relevance, and clarity of answers, helping to improve the overall quality of content. It promotes a collaborative environment where users can contribute to the continuous improvement of the platform's</p>
      </div>
      <img style="width:620px;" src="{% static 'sc_suggestn.jpg' %}"></img>
    </div>

  </div>


  {% endblock %}
